#{extends 'main.html' /} #{set title:'Home' /}

<div class="topnav">
	<a class="active">Chem2Bio2Rdf</a>
</div>
<div id="search_div">
	<input id='example-ajax-post' type="text"
		placeholder="Compunds or Proteins .." name="search">
</div>
<div class="topnav" id="linked_div">
	<h4>Linked Compounds:</h4>
	<table id="compound_div" align="center" border="1" width='500'>
		 <tr>
    		<th>Name</th>
    		<th>Score</th>
  		</tr>
  		
	</table>

	<h4>Linked Proteins:</h4>
	<table id="protein_div" align="center" border="1" width='500'>
		 <tr>
    		<th>Name</th>
    		<th>Score</th>
  		</tr>
  		
	</table>
</div>
<script>
	$(document).ready(
			function() {
				var options = {

					url : function(phrase) {
						return "searchprompt/" + phrase;
					},

					getValue : function(element) {
						return element.name;
					},

					ajaxSettings : {
						dataType : "json",
						method : "POST",
						data : {
							dataType : "json"
						}
					},
					template : {
						type : "description",
						fields : {
							description : "type"
						}
					},
					preparePostData : function(data) {
						data.phrase = $("#example-ajax-post").val();
						return data;
					},
					list : {
						maxNumberOfElements : 10,
						onClickEvent : function() {
							var value = $("#example-ajax-post")
									.getSelectedItemData().id
							//alert(value);
							$.get("/search/"+value, function(data, status) {
								data.forEach(function(o){
									var t = o.type;
									if(t=="Compound"){
										var str="<tr><td>"+o.name+"</td><td>linked</td></tr>";
										$("#compound_div").append(str)
									}else if(t=="Protein"){
										var str2="<tr><td>"+o.name+"</td><td>linked</td></tr>";
										$("#protein_div").append(str2)
									}
								});
							});

						}
					},
					requestDelay : 400
				};

				$("#example-ajax-post").easyAutocomplete(options);

			});
</script>