#{extends 'main.html' /} #{set title:'Home' /}

<div class="topnav">
	<a class="active">Chem2Bio2Rdf</a>
</div>
<div id="search_div">
	<input id='example-ajax-post' type="text"
		placeholder="Compunds or Proteins .." name="search">
</div>
<div class="topnav">
	<h2>Linked Compounds:</h2>
	<div id="compound_div"></div>
</div>

<div class="topnav">
	<h2>Linked Proteins:</h2>
	<div id="protein_div"></div>
</div>
<script>
	$(document).ready(
			function() {
				var options = {

					url : function(phrase) {
						return "searchprompt/" + phrase;
					},

					getValue : function(element) {
						return element.name;
					},

					ajaxSettings : {
						dataType : "json",
						method : "POST",
						data : {
							dataType : "json"
						}
					},
					template : {
						type : "description",
						fields : {
							description : "type"
						}
					},
					preparePostData : function(data) {
						data.phrase = $("#example-ajax-post").val();
						return data;
					},
					list : {
						maxNumberOfElements : 10,
						onClickEvent : function() {
							var value = $("#example-ajax-post")
									.getSelectedItemData().id
							//alert(value);
							$.get("/search/"+value, function(data, status) {
								alert("Data: " + data + "\nStatus: " + status);
							});

						}
					},
					requestDelay : 400
				};

				$("#example-ajax-post").easyAutocomplete(options);

			});
</script>